*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NeuroJ/nbproject/private/

#test files for the unit test
/NeuroJ/test_data
/NeuroJ/build/
/NeuroJ/src/cntFile/cntRAF.cnt
/NeuroJ/dist/